header{
    text-align: center;
    padding: 100px 0;
    color: #000000;
    background-image: url(https://i.pinimg.com/originals/c9/55/10/c955108caade57daf7654aca9fb0c675.jpg);
}
section{
    max-width: 1000px;
    margin: 0 auto; 
    cursor: pointer; 
}
.som:hover{
    color: #ff00c8;
}
.card:hover{
    color: #ff00c8;
}  
.riv{
    width: 100%;
    height: 1px;
    background-color: #000000;
}
.card{
    max-width: 300px;
    border: #000000 solid;
    margin-top: 25px;
    padding: 12px;
}
.som{
    border: #000000 solid;
    border-radius: 26px;
    margin-top: 25px;
    padding: 20px;
    background-color: #fff;
}
.flex{
    display: flex;
    justify-content: space-between;
}
footer{
    margin-top: 40px;
    height: 100px;
    background-color: #ff0084;
}
body{
    background-image: url(https://c4.wallpaperflare.com/wallpaper/831/612/43/hello-kitty-logo-art-wallpaper-preview.jpg);
}
.rol{
    background-image: url(https://media.tenor.com/wcRgv_S37s8AAAAe/%D0%B4%D1%8F%D0%BA%D1%83%D1%8E-%D0%B7%D0%B0-%D1%83%D0%B2%D0%B0%D0%B3%D1%83.png);
    text-align: center;
    padding: 110px 0;
    color: #fff; 
    margin-top: 20px;   
}